<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.xiaojs.xma"
          android:versionCode="58"
          android:versionName="2.0.10">

    <!-- Required -->
    <permission
            android:name="cn.xiaojs.xma.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="cn.xiaojs.xma.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- live -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- bugly -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
            android:name=".XiaojsApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.SplashActivity"
                android:theme="@style/SplashTheme"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<data android:scheme="luanchapp" android:host="cn.xiaojs.xma" android:pathPrefix="/android"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.TestAPIActivity">

        </activity>
        <activity
                android:name=".ui.account.LoginActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
                android:name=".ui.account.BindThirdAccountActivity"
                android:screenOrientation="portrait"
        >
        </activity>
        <activity
                android:name=".ui.account.ForgetPasswordStepOneActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.account.ForgetPasswordStepTwoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.MainActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="cn.xiaojs.xma.chatkit.chat_notification_action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="cn.xiaojs.xma.action_new_push_opened"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".common.crop.CropImageActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".common.crop.CropImageMainActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:name=".ui.account.RegisterActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".ui.mine.SettingsActivity"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.account.ModifyPasswordActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.CommonWebActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.common.ShareBeautifulQrcodeActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.lesson.MyLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.xclass.LessonScheduleActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.xclass.SearchLessonActivity"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.xclass.SearchClassActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.LessonCreationActivity"
            android:screenOrientation="portrait"
            />
        <activity
                android:name=".ui.lesson.TeachingSubjectActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".ui.lesson.xclass.ClassScheduleActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.TeachingSubjectSearchActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysVisible|adjustPan"/>

        <activity
                android:name=".ui.lesson.SubjectSelectorActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.ProfileActivity"/>
        <activity
                android:name=".ui.lesson.LessonSearchActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.LessonCreationOptionalInfoActivity"/>
        <activity android:name=".ui.mine.TeachingAbilityActivity">
        </activity>
        <activity android:name=".ui.mine.EditTeachingAbilityActivity">
        </activity>
        <activity android:name=".ui.lesson.LessonHomeActivity">
        </activity>
        <activity
                android:name=".ui.lesson.ConfirmEnrollmentActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.LiveLessonBriefActivity"/>
        <activity android:name=".ui.lesson.SalePromotionActivity"/>
        <activity android:name=".ui.lesson.LiveLessonLabelActivity"/>
        <activity android:name=".ui.lesson.AuditActivity"/>
        <activity android:name=".ui.lesson.TeacherIntroductionActivity"/>
        <activity android:name=".ui.lesson.LiveLessonDetailActivity"/>
        <activity
                android:name=".ui.lesson.ModifyLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.CancelLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.message.NotificationCategoryListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.mine.MyEnrollActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.classroom.main.ClassroomActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="screenSize|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:name=".ui.search.SearchActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysVisible|adjustPan"/>
        <activity
                android:name=".ui.home.MomentDetailActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.personal.PersonHomeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.home.MomentCommentActivity"
                android:screenOrientation="portrait"
                android:theme="@style/ActivityStyleBottomToTop"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.message.ContactActivity"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".ui.message.PostDynamicActivity"
                android:windowSoftInputMode="stateAlwaysVisible|adjustPan">
        </activity>
        <activity android:name=".ui.message.SecurityLevelActivity">
        </activity>
        <activity
                android:name=".ui.message.ChoiceContactActivity"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".ui.home.MomentUpdateActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.message.ShareScopeActivity">
        </activity>

        <activity
                android:name=".ui.search.SearchListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.common.ImageViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/scan_image_activity"/>
        <activity
                android:name=".ui.certification.CertificationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.GradeHomeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.ScheduleActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.RoomMatesActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.MomentActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.MaterialActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.ClassMaterialActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.personal.PersonalInfoActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.message.CloseFriendActivity"/>

        <activity
                android:name=".ui.message.MessageCenterActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cn.xiaojs.xma.action_push_enter_msg_center"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity android:name=".ui.recordlesson.RecordedLessonActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.recordlesson.SelectDirectoryActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.recordlesson.AddLessonDirActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity android:name=".ui.recordlesson.CreateRecordedLessonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity android:name=".ui.recordlesson.RLDirListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.recordlesson.SearchRecordedLessonActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.recordlesson.EnrollConfirmActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.recordlesson.EnrollRLessonSuccessActivity"
            android:screenOrientation="portrait"
            />

        <activity
                android:name=".TestActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:name=".ui.lesson.TeachLessonActivity"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.EnrollLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.EnrollRegisterActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.MaterialDownloadActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.mine.MyOrderActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.mine.MySignatureDetailActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.UpgradeActivity"
                android:theme="@style/dlg_upgrade">
        </activity>
        <activity android:name=".ui.account.AgreementActivity"/>
        <activity android:name=".ui.mine.AboutActivity"/>
        <activity android:name=".ui.ArticleActivity"/>
        <activity android:name=".ui.lesson.EnrolledStudentActivity">
        </activity>
        <activity android:name=".ui.GuideBrowseActivity"/>
        <activity android:name=".ui.ScanQrcodeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.kaola.qrcodescanner.qrcode.QrCodeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.common.PlayStreamingActivity"/>
        <activity android:name=".ui.lesson.xclass.CreateClassActivity"
                  android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.CreateTimetableActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.ManualAddStudentActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.AddLessonNameActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.ShareQrcodeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.ClassInfoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.StudentsListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.ClassesListActivity"
                  android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.lesson.xclass.ImportStudentFormClassActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.EnrollSuccessActivity"/>
        <activity android:name=".ui.lesson.xclass.AddStudentActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.VerificationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.xclass.EditTimetableActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".ui.grade.ChoiceFolderActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".ui.grade.MoveFileActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".ui.recordlesson.CreateRecordlessonActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".ui.grade.ImportVideoActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".ui.recordlesson.RecordedLessonEnrollActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.recordlesson.EnrolledStudentsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.recordlesson.EnrolledStudentInfoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.recordlesson.ManualRegistrationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.recordlesson.RecordedLessonDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.grade.MaterialFragmentActivity"
                  android:screenOrientation="portrait"/>
        <!-- QQ -->
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105919395"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- Ping++ SDK -->
        <activity
                android:name="com.pingplusplus.android.PaymentActivity"
                android:configChanges="orientation|screenSize"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="con.xiaojs.xma.wallet"/>
            </intent-filter>
        </activity>

        <!-- alipay -->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>
        <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>

        <!-- service -->
        <service
                android:name=".data.loader.SyncService"
                android:exported="false"/>

        <provider
                android:name=".data.download.DownloadProvider"
                android:authorities="cn.xiaojs.xma"
                android:enabled="true"
                android:exported="false">
        </provider>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="cn.xiaojs.xma.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <service
                android:name=".data.download.DownloadService"
                android:enabled="true"
                android:exported="false">
        </service>
        <service
                android:name=".data.download.UpdateService"
                android:exported="false">
        </service>
        <service
                android:name=".data.loader.UpgradeService"
                android:exported="false">
        </service>

        <!-- JPush -->
        <!-- Required SDK核心功能 -->
        <activity
                android:name="cn.jpush.android.ui.PushActivity"
                android:configChanges="orientation|keyboardHidden"
                android:exported="false"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="cn.xiaojs.xma"/>
            </intent-filter>
        </activity>
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
                android:name="cn.jpush.android.service.DaemonService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="cn.xiaojs.xma"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!-- Required  显示通知栏 -->
                <category android:name="cn.xiaojs.xma"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required Push SDK核心功能 -->
        <service
                android:name="cn.jpush.android.service.DownloadService"
                android:enabled="true"
                android:exported="false"/>
        <!-- Required Push SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
                android:name=".service.JPushReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.xiaojs.xma"/>
            </intent-filter>
        </receiver>

        <!-- Required. Enable it you can get statistics data with channel -->
        <meta-data
                android:name="JPUSH_CHANNEL"
                android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data
                android:name="JPUSH_APPKEY"
                android:value="e87cffb332432eec3c0807ba"/>

        <activity android:name=".ui.message.ChooseClassActivity">
        </activity>

        <!-- 高德 -->
        <meta-data
                android:name="com.amap.api.v2.0"
                android:value="d19701b38830e88772d8325797c8073a"/>

        <service android:name="com.amap.api.location.APSService"/>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="592f92426e27a41dc2001d26" >
        </meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
            />

    </application>

</manifest>