<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.benyuan.xiaojs"
          android:versionCode="3"
          android:versionName="0.1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!--bugly-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name=".XiaojsApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".common.crop.CropImageActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".common.crop.CropImageMainActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name=".ui.account.RegisterActivity"/>
        <activity android:name=".ui.mine.SettingsActivity"/>
        <activity
                android:name=".ui.course.MyLessonActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.course.LessonCreationActivity"/>
        <activity android:name=".ui.mine.ProfileActivity"/>
        <activity
                android:name=".ui.course.LessonSearchActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.course.LessonCreationOptionalInfoActivity"/>
        <activity android:name=".ui.mine.TeachingAbilityActivity">
        </activity>
        <activity android:name=".ui.mine.EditTeachingAbilityActivity">

        </activity>
        <activity android:name=".ui.course.LessonHomeActivity">
        </activity>
        <activity android:name=".ui.TestAPIActivity">


        </activity>
        <activity android:name=".ui.course.LiveLessonBriefActivity"/>
        <activity android:name=".ui.course.SalePromotionActivity"/>
        <activity android:name=".ui.course.LiveLessonLabelActivity"/>
        <activity android:name=".ui.course.AuditActivity"/>
        <activity android:name=".ui.course.TeacherIntroductionActivity"/>
        <activity android:name=".ui.course.LiveLessonDetailActivity"/>
        <activity android:name=".ui.mine.TeachAbilityDemoActivity">
        </activity>
        <activity
                android:name=".ui.course.ModifyLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.course.CancelLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.message.NotificationCategoryListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.mine.MyEnrollActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.classroom.ClassRoomActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

    </application>

</manifest>