<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.xiaojs.xma"
          android:versionCode="6"
          android:versionName="0.1.3">

    <permission
            android:name="cn.xiaojs.xma.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="cn.xiaojs.xma.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!-- live -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- bugly -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name=".XiaojsApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.account.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".common.crop.CropImageActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".common.crop.CropImageMainActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:name=".ui.account.RegisterActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".ui.mine.SettingsActivity"/>
        <activity
                android:name=".ui.lesson.MyLessonActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.LessonCreationActivity"/>
        <activity android:name=".ui.mine.ProfileActivity"/>
        <activity
                android:name=".ui.lesson.LessonSearchActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.lesson.LessonCreationOptionalInfoActivity"/>
        <activity android:name=".ui.mine.TeachingAbilityActivity">
        </activity>
        <activity android:name=".ui.mine.EditTeachingAbilityActivity">
        </activity>
        <activity android:name=".ui.lesson.LessonHomeActivity">
        </activity>
        <activity android:name=".ui.TestAPIActivity">

        </activity>
        <activity android:name=".ui.lesson.LiveLessonBriefActivity"/>
        <activity android:name=".ui.lesson.SalePromotionActivity"/>
        <activity android:name=".ui.lesson.LiveLessonLabelActivity"/>
        <activity android:name=".ui.lesson.AuditActivity"/>
        <activity android:name=".ui.lesson.TeacherIntroductionActivity"/>
        <activity android:name=".ui.lesson.LiveLessonDetailActivity"/>
        <activity android:name=".ui.mine.TeachAbilityDemoActivity">
        </activity>
        <activity
                android:name=".ui.lesson.ModifyLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.CancelLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.message.NotificationCategoryListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.mine.MyEnrollActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.classroom.ClassroomActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:name=".ui.classroom.document.DocumentActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:name=".ui.search.SearchActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.home.MomentDetailActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.personal.PersonHomeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.home.MomentCommentActivity"
                android:screenOrientation="portrait"
                android:theme="@style/ActivityStyleBottomToTop"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.message.ContactActivity"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".ui.message.PostDynamicActivity"
                android:windowSoftInputMode="stateAlwaysVisible|adjustPan">
        </activity>
        <activity android:name=".ui.message.SecurityLevelActivity">
        </activity>
        <activity
                android:name=".ui.message.ChoiceContactActivity"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".ui.home.MomentUpdateActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.mine.ScrollTabActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.message.ShareScopeActivity">
        </activity>
        <activity
                android:name=".ui.search.SearchListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.common.ImageViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/CustomerDialog"/>
        <activity
                android:name=".ui.certification.CertificationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.GradeHomeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.ScheduleActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.RoomMatesActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.MomentActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.MaterialActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.PersonalInfoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.chat.ChatActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ui.message.CloseFriendActivity"/>
        <activity
                android:name=".TestActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:name=".ui.lesson.TeachLessonActivity"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.lesson.EnrollLessonActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.grade.MaterialDownloadActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".common.im.ChatActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"/>
        <!-- QQ -->
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:noHistory="true"
                android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="替换真正的APPID" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                />
        <!--service-->
        <service
                android:name=".data.loader.SyncService"
                android:exported="false"/>

        <provider
                android:name=".data.download.DownloadProvider"
                android:authorities="cn.xiaojs.xma"
                android:enabled="true"
                android:exported="false">
        </provider>

        <service
                android:name=".data.download.DownloadService"
                android:enabled="true"
                android:exported="false">
        </service>

        <!-- Required Push SDK核心功能-->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:enabled="true"
                android:exported="false"
                android:process=":remote">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- Required Push SDK核心功能-->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required Push SDK核心功能 -->
        <service
                android:name="cn.jpush.android.service.DownloadService"
                android:enabled="true"
                android:exported="false"/>
        <!-- Required Push SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- IM Required IM SDK核心功能-->
        <receiver
                android:name="cn.jpush.im.android.helpers.IMReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE"/>
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- Required. Enable it you can get statistics data with channel -->
        <meta-data
                android:name="JPUSH_CHANNEL"
                android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data
                android:name="JPUSH_APPKEY"
                android:value="e87cffb332432eec3c0807ba"/>
    </application>

</manifest>